body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

p {
	margin:5px;
	padding:5px;
}

img {
  width: 100%;
  height:100%;
	margin:3px;
	padding:3px;
}

#navbar {
	position:relative;
	bottom: 0px;
}

#buffer{
	background: #5584ac;
}

#contentArea {
	padding: 30px;
  text-align: justify;
}

#footer{
	height:50px;
	text-align:right;
}

.leftImage {
	float:left;
	object-fit: cover;
  width: 430px;
  height: 300px;
}
.rightImage {
	float:right;
	object-fit: cover;
	width: 430px;
  height: 600px;
}

fieldset {
  margin:5px;
  padding:5px;;
  border:solid 2px whitesmoke;
}

.name, .email, .topic, .comments {
  text-align: center;
}

legend {
  background-color: lightgray);
  text-align: center;
  width: 100px;
}

input, select, textarea {
  border: none;
  outline: none;
}

#title {
  width: 350px;
}

#comments {
  width: 150px;
}

#buddhaHead {
  width: 300px;
  height: 470px;
  margin-top: 50px;
}

#button {
  text-align: center;
}