.booking {
	color:  #000000;
 	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:Arial;
	border: 2px;		/* this should have a color and style e.g. border: 2px solid WhiteSmoke;*/
	width:250px;
	padding:15px;
	background:#fff;
	margin-top: 15px;
	margin-bottom: 15px;

	/* place in center of the column */
	margin-left:auto;
	margin-right:auto;
}


#contentArea {
	background-image: url("../images/destinations/killarney.png");
	background-repeat:no-repeat;
}

.transparentWindow {
	background-color:rgba(255,255,255,0.7); /*transparent background*/
	padding:10px;
}

.overview{

}

#contentArea .booking fieldset,.overview fieldset{
	margin:10px;
	padding:15px;
	/*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
	*/
    border-radius: 10px;
		font-family:AvenirLTStd, Arial, Helvetica, sans-serif;

}

.tip{
 color: #7c795d;
 font-family: 'Trocchi', serif; font-size: 20px; font-weight: normal; line-height: 48px; margin: 0;
 font-weight:bold;

}

.intro p:first-child::first-letter{
    color:#FE5F55;
    font-weight: bold;
    font-size: 50px;
    float: left;
    line-height: 40px;
    padding-right: 8px;
    margin-top: -3px;
}

@media screen and (max-width:600px){
    .intro{
        width: 100%;
        padding: 1rem;
    }
}


/* debug borders
.row {
	border: dotted 2px red;
}

.col {
	border: dashed 2px blue;
}

.booking {
	border: dotted 2px green;
} */
